<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lizi_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-126}</string>
                <key>spriteSize</key>
                <string>{720,1028}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{3835,4657},{720,1028}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-128}</string>
                <key>spriteSize</key>
                <string>{718,1024}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{4557,4639},{718,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-122}</string>
                <key>spriteSize</key>
                <string>{714,1004}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{6493,4257},{714,1004}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lizi_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-134}</string>
                <key>spriteSize</key>
                <string>{712,1010}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{6493,2853},{712,1010}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lizi_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-133}</string>
                <key>spriteSize</key>
                <string>{708,1014}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{5277,4615},{708,1014}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-135}</string>
                <key>spriteSize</key>
                <string>{720,1010}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{5771,3451},{720,1010}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-48}</string>
                <key>spriteSize</key>
                <string>{720,1160}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{3599,1165},{720,1160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-59}</string>
                <key>spriteSize</key>
                <string>{720,1150}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{5009,2317},{720,1150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-55}</string>
                <key>spriteSize</key>
                <string>{720,1124}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{6459,723},{720,1124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lizi_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-62}</string>
                <key>spriteSize</key>
                <string>{720,1120}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{6459,1445},{720,1120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lizi_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{720,1014}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{3113,4673},{720,1014}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-25}</string>
                <key>spriteSize</key>
                <string>{684,1012}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{6459,2167},{684,1012}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lizi_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-32}</string>
                <key>spriteSize</key>
                <string>{688,1010}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{6493,3567},{688,1010}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lizi_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-37}</string>
                <key>spriteSize</key>
                <string>{692,1000}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{5987,4973},{692,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lizi_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-45}</string>
                <key>spriteSize</key>
                <string>{698,1004}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{5759,1},{698,1004}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,43}</string>
                <key>spriteSize</key>
                <string>{702,1194}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1445,2405},{702,1194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,59}</string>
                <key>spriteSize</key>
                <string>{706,1162}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{3579,2335},{706,1162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,56}</string>
                <key>spriteSize</key>
                <string>{708,1168}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{2167,1171},{708,1168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,52}</string>
                <key>spriteSize</key>
                <string>{714,1176}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{2149,2405},{714,1176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,42}</string>
                <key>spriteSize</key>
                <string>{720,1170}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{2167,3583},{720,1170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{720,1176}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1445,3601},{720,1176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{720,1168}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{2167,1},{720,1168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{720,1162}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{2877,1171},{720,1162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{720,1162}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{2889,1},{720,1162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{716,1162}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{2889,3509},{716,1162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{718,1154}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{4329,3483},{718,1154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{718,1158}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{4317,1},{718,1158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{720,1154}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{4287,2327},{720,1154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{720,1154}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{4321,1161},{720,1154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{720,1156}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{3607,3499},{720,1156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{720,1154}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{5037,1},{720,1154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{720,1254}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,2523},{720,1254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{720,1262}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{720,1256}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1265},{720,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{720,1250}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,3779},{720,1250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{720,1238}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{723,1245},{720,1238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{720,1242}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,1242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{720,1232}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{723,2485},{720,1232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{720,1224}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{723,3719},{720,1224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{720,1214}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{723,4945},{720,1214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lizi_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{720,1204}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1445,1},{720,1204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{720,1196}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1445,1207},{720,1196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{720,1172}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1939,4779},{720,1172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lizi_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-44}</string>
                <key>spriteSize</key>
                <string>{712,1166}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{2865,2341},{712,1166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-49}</string>
                <key>spriteSize</key>
                <string>{704,1160}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{3611,1},{704,1160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-49}</string>
                <key>spriteSize</key>
                <string>{698,1144}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{5731,2305},{698,1144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-56}</string>
                <key>spriteSize</key>
                <string>{692,1146}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{5043,1157},{692,1146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-64}</string>
                <key>spriteSize</key>
                <string>{720,1144}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{5049,3469},{720,1144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-70}</string>
                <key>spriteSize</key>
                <string>{720,1140}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{5737,1157},{720,1140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lizi_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-74}</string>
                <key>spriteSize</key>
                <string>{720,1132}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{6459,1},{720,1132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lizi_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-358.5,638.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,5031},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lizi_.pkm</string>
            <key>size</key>
            <string>{7592,5688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7db8bea3f869a321708a3dd7f925051a:0344e7248a7ec5e5fe7891df1c82d598:57443b8373056936f599d9db86e61e96$</string>
            <key>textureFileName</key>
            <string>lizi_.pkm</string>
        </dict>
    </dict>
</plist>
