<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear_other201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{106,158}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,1361},{106,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{106,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,875},{106,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{104,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,1849},{104,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{104,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,1521},{104,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{104,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,1685},{104,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{106,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,1037},{106,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{106,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,1199},{106,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{122,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,371},{120,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,127},{120,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_other211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-20}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,497},{118,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-20}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,623},{118,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,749},{118,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1,249},{120,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bear_other2.pkm</string>
            <key>size</key>
            <string>{124,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:355772dfb1b23476c3018130ede54e20:bd68ce451e3e6775f0e8ab3033e79bee:3a6a1feed47c952d8d2d90daf0882d84$</string>
            <key>textureFileName</key>
            <string>bear_other2.pkm</string>
        </dict>
    </dict>
</plist>
