<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoqing_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{342,160}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1367,1169},{342,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1,835},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{342,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1039,1173},{342,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{697,499},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1393,165},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1,999},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1,1163},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{342,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1391,493},{342,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{342,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1389,657},{342,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1,1327},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{342,160}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1693,821},{342,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{342,160}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1693,1165},{342,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{346,164}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{349,1},{346,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{346,164}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1,337},{346,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{346,164}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{349,167},{346,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{344,164}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1,669},{344,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{349,663},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,160}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1741,1},{344,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{695,663},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{346,164}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{697,1},{346,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{346,166}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{346,164}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1,503},{346,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{346,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{349,499},{346,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{347,827},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{347,991},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{693,827},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{342,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1529,821},{342,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{347,1155},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{693,991},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{342,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1529,1165},{342,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{347,1319},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{693,1155},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{693,1319},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1045,331},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1043,495},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1043,659},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1393,329},{344,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1739,347},{344,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{346,164}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{349,333},{346,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{346,164}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{697,167},{346,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{344,164}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{697,333},{344,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1039,827},{344,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,160}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1367,823},{344,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1203,823},{344,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{346,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1045,167},{346,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{346,166}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1,169},{346,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{346,164}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1045,1},{346,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{346,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1393,1},{346,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{344,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,192}</string>
                <key>textureRect</key>
                <string>{{1203,1169},{344,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>biaoqing_.pkm</string>
            <key>size</key>
            <string>{1902,1516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6bdf9454b44a8fc2f859e6dc8dae1bf:f337a3737c9d4963839be37b917b341c:df8fe9e09a6f06d1733931b21e21c401$</string>
            <key>textureFileName</key>
            <string>biaoqing_.pkm</string>
        </dict>
    </dict>
</plist>
