<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,149},{212,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,297},{212,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,445},{212,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,593},{212,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>expression_2.pkm</string>
            <key>size</key>
            <string>{214,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37e581f8fe1e273756cf9a71b116c50d:20363b75cd9959a4f670021746c54c66:945b2ba019b6b47b9cd99eb215e62516$</string>
            <key>textureFileName</key>
            <string>expression_2.pkm</string>
        </dict>
    </dict>
</plist>
