<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>other_201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,14}</string>
                <key>spriteSize</key>
                <string>{141,122}</string>
                <key>spriteSourceSize</key>
                <string>{153,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>other_202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-15}</string>
                <key>spriteSize</key>
                <string>{141,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,150}</string>
                <key>textureRect</key>
                <string>{{1,125},{141,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>other_2.pkm</string>
            <key>size</key>
            <string>{143,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa828a046bbc306bf8f8bad23f18638a:0223998ceec36ab1af19d68265404a22:637fcbbab4aad706722e5a6f462e3eee$</string>
            <key>textureFileName</key>
            <string>other_2.pkm</string>
        </dict>
    </dict>
</plist>
