<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>other_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,7}</string>
                <key>spriteSize</key>
                <string>{117,119}</string>
                <key>spriteSourceSize</key>
                <string>{155,133}</string>
                <key>textureRect</key>
                <string>{{128,1},{117,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>other_102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{125,121}</string>
                <key>spriteSourceSize</key>
                <string>{155,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>other_1.pkm</string>
            <key>size</key>
            <string>{246,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa7928bed1ab9feffed1b5e1fb89d7a7:7c473aaacb5258fc7f28c49288d7ee34:3607a07f85fbcbf2e7247ea8d1bff4fb$</string>
            <key>textureFileName</key>
            <string>other_1.pkm</string>
        </dict>
    </dict>
</plist>
