<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leaf_201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{125,166}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{169,1},{125,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{335,1},{125,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{127,162}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{1,128},{127,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{127,162}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{165,128},{127,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{329,128},{129,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{1,257},{129,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{131,156}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{161,257},{131,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{131,154}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{319,259},{131,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{131,156}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{161,257},{131,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{1,257},{129,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{329,128},{129,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{127,162}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{165,128},{127,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{127,162}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{1,128},{127,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{335,1},{125,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaf_216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{169,1},{125,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leaf_2.pkm</string>
            <key>size</key>
            <string>{500,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5101378a97c8044db92371271289b27:c3fc5714eb36757dead295cc6ebcded6:c7adbde4d7a9165f95e7c02cf3281b80$</string>
            <key>textureFileName</key>
            <string>leaf_2.pkm</string>
        </dict>
    </dict>
</plist>
