<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dinosaur_other200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-3}</string>
                <key>spriteSize</key>
                <string>{93,133}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{485,1},{93,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-2}</string>
                <key>spriteSize</key>
                <string>{95,131}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{580,1},{95,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-1}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{1,158},{97,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,1}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{677,1},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,2}</string>
                <key>spriteSize</key>
                <string>{99,127}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{776,1},{99,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,4}</string>
                <key>spriteSize</key>
                <string>{101,127}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{132,154},{101,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,5}</string>
                <key>spriteSize</key>
                <string>{103,125}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{838,130},{103,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,6}</string>
                <key>spriteSize</key>
                <string>{103,123}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{733,132},{103,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,7}</string>
                <key>spriteSize</key>
                <string>{105,121}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{261,150},{105,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,9}</string>
                <key>spriteSize</key>
                <string>{109,121}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{384,146},{109,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,9}</string>
                <key>spriteSize</key>
                <string>{111,119}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{507,136},{111,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,9}</string>
                <key>spriteSize</key>
                <string>{111,119}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{620,134},{111,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,9}</string>
                <key>spriteSize</key>
                <string>{111,119}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{877,1},{111,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{143,119}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{364,1},{143,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{147,119}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{243,1},{147,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{151,119}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{122,1},{151,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{155,119}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,9}</string>
                <key>spriteSize</key>
                <string>{111,119}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{507,136},{111,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,9}</string>
                <key>spriteSize</key>
                <string>{111,119}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{507,136},{111,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,9}</string>
                <key>spriteSize</key>
                <string>{109,121}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{384,146},{109,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,7}</string>
                <key>spriteSize</key>
                <string>{105,121}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{261,150},{105,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,6}</string>
                <key>spriteSize</key>
                <string>{103,123}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{733,132},{103,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,5}</string>
                <key>spriteSize</key>
                <string>{103,125}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{838,130},{103,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,4}</string>
                <key>spriteSize</key>
                <string>{101,127}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{132,154},{101,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,2}</string>
                <key>spriteSize</key>
                <string>{99,127}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{776,1},{99,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,1}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{677,1},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-1}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{1,158},{97,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-2}</string>
                <key>spriteSize</key>
                <string>{95,131}</string>
                <key>spriteSourceSize</key>
                <string>{169,143}</string>
                <key>textureRect</key>
                <string>{{580,1},{95,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dinosaur_other2.pkm</string>
            <key>size</key>
            <string>{989,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a303de20463b3c2c4e8e0236f1d6df1:c438f779b9cd70f3f99e5fadcf58fc00:67e03c0a084e1c38d99cc98eb3f7e893$</string>
            <key>textureFileName</key>
            <string>dinosaur_other2.pkm</string>
        </dict>
    </dict>
</plist>
