<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eatwatermelon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,305}</string>
                <key>spriteSourceSize</key>
                <string>{668,307}</string>
                <key>textureRect</key>
                <string>{{1,1},{666,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatwatermelon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,305}</string>
                <key>spriteSourceSize</key>
                <string>{668,307}</string>
                <key>textureRect</key>
                <string>{{669,1},{666,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatwatermelon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,305}</string>
                <key>spriteSourceSize</key>
                <string>{668,307}</string>
                <key>textureRect</key>
                <string>{{1337,1},{666,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatwatermelon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,305}</string>
                <key>spriteSourceSize</key>
                <string>{668,307}</string>
                <key>textureRect</key>
                <string>{{1,308},{666,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatwatermelon05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,305}</string>
                <key>spriteSourceSize</key>
                <string>{668,307}</string>
                <key>textureRect</key>
                <string>{{669,308},{666,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatwatermelon06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,305}</string>
                <key>spriteSourceSize</key>
                <string>{668,307}</string>
                <key>textureRect</key>
                <string>{{1337,308},{666,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatwatermelon07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,305}</string>
                <key>spriteSourceSize</key>
                <string>{668,307}</string>
                <key>textureRect</key>
                <string>{{1337,308},{666,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatwatermelon08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,305}</string>
                <key>spriteSourceSize</key>
                <string>{668,307}</string>
                <key>textureRect</key>
                <string>{{1337,308},{666,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eatwatermelon.pkm</string>
            <key>size</key>
            <string>{2004,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae7bfadf8574d433b68f73cf99c70cf8:f06983e387ca0b30dcde8688f400e163:97ea61042d034eaa2f110744e9e6d5b4$</string>
            <key>textureFileName</key>
            <string>eatwatermelon.pkm</string>
        </dict>
    </dict>
</plist>
