<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yaogan_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200,-521}</string>
                <key>spriteSize</key>
                <string>{144,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{149,1},{144,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yaogan_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200,-522}</string>
                <key>spriteSize</key>
                <string>{146,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{595,1},{146,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yaogan_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-207,-522}</string>
                <key>spriteSize</key>
                <string>{148,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{295,1},{148,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yaogan_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-207,-522}</string>
                <key>spriteSize</key>
                <string>{148,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{445,1},{148,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yaogan_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-206,-521}</string>
                <key>spriteSize</key>
                <string>{146,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yaogan_.pkm</string>
            <key>size</key>
            <string>{742,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e96631f0e94dc8ed55b1c37e647c456:25f1b21135bba1f70c25fb63ff1d7d1e:a75b88dac2feab1186dba785704db3c2$</string>
            <key>textureFileName</key>
            <string>yaogan_.pkm</string>
        </dict>
    </dict>
</plist>
