<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiqiuR_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-15}</string>
                <key>spriteSize</key>
                <string>{330,432}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{2529,437},{330,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-14}</string>
                <key>spriteSize</key>
                <string>{332,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{2527,1},{332,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-14}</string>
                <key>spriteSize</key>
                <string>{332,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{2193,1},{332,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-14}</string>
                <key>spriteSize</key>
                <string>{336,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{2181,1309},{336,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuR_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-14}</string>
                <key>spriteSize</key>
                <string>{338,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1849,873},{338,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-14}</string>
                <key>spriteSize</key>
                <string>{344,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1847,437},{344,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{348,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{873,1309},{348,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuR_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-14}</string>
                <key>spriteSize</key>
                <string>{352,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1,1309},{352,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuR_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{356,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1489,437},{356,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{360,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1125,873},{360,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{364,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1123,437},{364,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{368,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{753,437},{368,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{372,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{377,873},{372,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{374,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1,437},{374,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{374,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1,873},{374,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{376,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1,1},{376,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{374,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{377,437},{374,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{374,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{379,1},{374,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{372,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{751,873},{372,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{368,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{755,1},{368,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{364,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1125,1},{364,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{360,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1487,873},{360,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{356,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1491,1},{356,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-14}</string>
                <key>spriteSize</key>
                <string>{352,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{437,1309},{352,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuR_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{348,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1309,1309},{348,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuR_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-14}</string>
                <key>spriteSize</key>
                <string>{342,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1849,1},{342,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-14}</string>
                <key>spriteSize</key>
                <string>{340,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{1745,1309},{340,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuR_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-14}</string>
                <key>spriteSize</key>
                <string>{336,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{2189,873},{336,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-14}</string>
                <key>spriteSize</key>
                <string>{334,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{2193,437},{334,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiqiuR_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-14}</string>
                <key>spriteSize</key>
                <string>{332,434}</string>
                <key>spriteSourceSize</key>
                <string>{376,462}</string>
                <key>textureRect</key>
                <string>{{2527,873},{332,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qiqiuR_.pkm</string>
            <key>size</key>
            <string>{2860,1662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:870af68121a904bdec86f8fb44cf4827:c19c6772065a3726537702205351b0ea:57d34d56fd5ba46757be883e060365bb$</string>
            <key>textureFileName</key>
            <string>qiqiuR_.pkm</string>
        </dict>
    </dict>
</plist>
