<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_change01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{74,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_change02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{77,1},{74,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>expression_change.pkm</string>
            <key>size</key>
            <string>{152,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2cfb00c583cc10a9b454a43c817448a:a876e295faaac06786b6a525adf2e72a:4fbe030e76fb4a5b01e3d9d805bb7bc0$</string>
            <key>textureFileName</key>
            <string>expression_change.pkm</string>
        </dict>
    </dict>
</plist>
