<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-45}</string>
                <key>spriteSize</key>
                <string>{311,270}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{938,1},{311,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-41}</string>
                <key>spriteSize</key>
                <string>{311,272}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{312,1},{311,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-36}</string>
                <key>spriteSize</key>
                <string>{309,276}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{312,1463},{309,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-32}</string>
                <key>spriteSize</key>
                <string>{309,278}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{623,1461},{309,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-28}</string>
                <key>spriteSize</key>
                <string>{309,282}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1556,929},{309,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-23}</string>
                <key>spriteSize</key>
                <string>{309,286}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1245,889},{309,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-19}</string>
                <key>spriteSize</key>
                <string>{309,288}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{623,1171},{309,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{309,292}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{623,877},{309,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{309,294}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{934,584},{309,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{309,298}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{312,577},{309,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{309,300}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{312,275},{309,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{309,304}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1250,583},{309,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,8}</string>
                <key>spriteSize</key>
                <string>{309,308}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1250,273},{309,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,12}</string>
                <key>spriteSize</key>
                <string>{309,310}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1564,1},{309,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,17}</string>
                <key>spriteSize</key>
                <string>{309,314}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1,963},{309,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,21}</string>
                <key>spriteSize</key>
                <string>{309,318}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1,323},{309,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,25}</string>
                <key>spriteSize</key>
                <string>{309,320}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1,1},{309,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,21}</string>
                <key>spriteSize</key>
                <string>{309,318}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1,643},{309,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,17}</string>
                <key>spriteSize</key>
                <string>{309,314}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1,1279},{309,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,12}</string>
                <key>spriteSize</key>
                <string>{309,310}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{938,273},{309,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,8}</string>
                <key>spriteSize</key>
                <string>{309,308}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1561,313},{309,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{309,304}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1561,623},{309,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{309,300}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{623,275},{309,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{309,298}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{623,577},{309,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{309,294}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{312,877},{309,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{309,292}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{934,880},{309,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-19}</string>
                <key>spriteSize</key>
                <string>{309,288}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{312,1173},{309,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-23}</string>
                <key>spriteSize</key>
                <string>{309,286}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{934,1174},{309,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-28}</string>
                <key>spriteSize</key>
                <string>{309,282}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1245,1177},{309,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-32}</string>
                <key>spriteSize</key>
                <string>{309,278}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1245,1461},{309,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-36}</string>
                <key>spriteSize</key>
                <string>{309,276}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{934,1462},{309,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-41}</string>
                <key>spriteSize</key>
                <string>{311,272}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{625,1},{311,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-45}</string>
                <key>spriteSize</key>
                <string>{311,270}</string>
                <key>spriteSourceSize</key>
                <string>{325,390}</string>
                <key>textureRect</key>
                <string>{{1251,1},{311,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cat.pkm</string>
            <key>size</key>
            <string>{1874,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b1a5662224d6ca10dac93a8f3b70160:8f207684dfbd7d97dc8b997e1264a413:1cb52358146837b339ebf8e83d86c292$</string>
            <key>textureFileName</key>
            <string>cat.pkm</string>
        </dict>
    </dict>
</plist>
