<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaochoumao_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{366,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1551,1},{366,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{368,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1527,491},{368,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{370,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1145,736},{370,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{372,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1161,246},{372,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{376,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{775,491},{376,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{378,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{781,246},{378,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{382,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{391,491},{382,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{386,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{393,246},{386,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{388,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{393,1},{388,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{390,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1,1},{390,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{390,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1,246},{390,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{388,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1,491},{388,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{386,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{783,1},{386,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{384,245}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1,736},{384,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{380,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{387,736},{380,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{378,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1171,1},{378,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{374,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{769,736},{374,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{372,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1153,491},{372,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{370,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1535,246},{370,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochoumao_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{368,243}</string>
                <key>spriteSourceSize</key>
                <string>{482,291}</string>
                <key>textureRect</key>
                <string>{{1517,736},{368,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaochoumao_.pkm</string>
            <key>size</key>
            <string>{1918,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a5d673bd9841f32db8effa79ed6481f:4f8831a8551e4cf003cc48e03193ca32:3149a6706b298b094eb381b8a96a16da$</string>
            <key>textureFileName</key>
            <string>xiaochoumao_.pkm</string>
        </dict>
    </dict>
</plist>
