{
    "filters":[
        {
            "name":"AI人脸",
            "type":2086,
            "unique": true,
            "enable": true
        },
        {
            "name":"变色",
            "type":10111,
            "tablePath":"gaoguaixiaochou.png",
            "unique": true,
            "enable": true
        },
        {
            "name":"脸膜",
            "type":10101,
            "unique": true,
            "enable": true
        },
        {
            "name": "cocos",
            "type" : 10011,
            "unique": true,
            "enable": true
        }

    ]
}