<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eyeleft01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43.5,26}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeleft02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43.5,26}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeleft03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{6,1},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeleft04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{22,1},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeleft05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{1,16},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeleft06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{1,52},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeleft07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{28,21}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{39,34},{28,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eyeleft08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{38,1},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeleft09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{19,16},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eyeleft10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{38,16},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eyeleft11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{1,34},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eyeleft12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{20,34},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eyeleft13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43.5,26}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eyeleft.pkm</string>
            <key>size</key>
            <string>{61,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7b231d8222e88ff3471fc4f282b9640:d6fc1f306973f611e9461fe043f81c16:842598fc48642dc93645a9a8e0087557$</string>
            <key>textureFileName</key>
            <string>eyeleft.pkm</string>
        </dict>
    </dict>
</plist>
