<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leaf_301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{753,1},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{857,1},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{435,1},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{541,1},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{647,1},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{111,1},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{219,1},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{327,1},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{327,1},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{219,1},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{111,1},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{647,1},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{541,1},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{435,1},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{857,1},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leaf_3.pkm</string>
            <key>size</key>
            <string>{960,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8ca66e0b5c1d0e2eb677a603aad55e7:5ca035d5ef445f4b031626366d53395e:3cc7def9b8b0f47e2e56a6a27bfa7fce$</string>
            <key>textureFileName</key>
            <string>leaf_3.pkm</string>
        </dict>
    </dict>
</plist>
