
{
    "filters":[
        {
            "name":"AI人脸",
            "type":2086,
            "unique": true,
            "enable": true
        },
        {
            "name":"变色",
            "type":10111,
            "tablePath":"kuxuanlianmo.png",
            "unique": true,
            "enable": true
        },
        {
            "name":"uv脸膜",
            "type":10100,
            "unique": false,
            "enable": true,
            "id":0
        },
        {
            "name":"uv脸膜",
            "type":10100,
            "unique": false,
            "enable": true,
            "id":1
        },
        {
            "name": "cocos",
            "type" : 10011,
            "unique": true,
            "enable": true
        }
    ]
}