{
    "filters":[
        {
            "name":"AI人脸",
            "type":2086,
            "unique": true,
            "enable": true
        },
        {
            "name":"变色",
            "type":10111,
            "tablePath":"colour_table.png",
            "unique": true,
            "enable": true
        },
        {
            "name": "cocos",
            "type" : 10011,
            "unique": true,
            "enable": true
        }
    ]
}