<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanbur_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{296,1},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{591,1},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{886,1},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1181,1},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1476,1},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1771,1},{250,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanbur_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1,253},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{296,253},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{591,253},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{886,253},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1181,253},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1476,253},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1771,296},{250,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanbur_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1,505},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{296,505},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{591,505},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{886,505},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1181,505},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1476,505},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1771,591},{250,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanbur_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1,757},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{296,757},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{591,757},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{886,757},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1181,757},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1476,757},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1771,886},{250,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanbur_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1,1009},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{296,1009},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{591,1009},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{886,1009},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1181,1009},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1476,1009},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1771,1181},{250,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanbur_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1,1261},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{296,1261},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{591,1261},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{886,1261},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1181,1261},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbur_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{1476,1261},{250,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yanbur_.pkm</string>
            <key>size</key>
            <string>{2022,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:016eeed1170e7ef6137430ec15ab7264:b28efb9eaba53786476d210f712cc5f1:ca467d5e56f8bea4e67e92524a6aab5d$</string>
            <key>textureFileName</key>
            <string>yanbur_.pkm</string>
        </dict>
    </dict>
</plist>
