<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dinosaur_hand01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{618,280}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1311,283},{618,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{620,280}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1311,1},{620,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{624,280}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1309,565},{624,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{628,280}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1287,1413},{628,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{632,280}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{643,1727},{632,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{634,284}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{643,1441},{634,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{638,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{647,1153},{638,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{642,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{651,865},{642,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{646,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{653,577},{646,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{650,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1,577},{650,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{652,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{657,1},{652,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{654,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1,1},{654,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{654,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1,289},{654,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{650,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{657,289},{650,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{648,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1,865},{648,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{644,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1,1153},{644,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{640,286}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1,1441},{640,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{636,284}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1,1729},{636,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{632,282}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1301,847},{632,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{630,280}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1295,1131},{630,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{628,280}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1279,1695},{628,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_hand22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{624,280}</string>
                <key>spriteSourceSize</key>
                <string>{670,286}</string>
                <key>textureRect</key>
                <string>{{1277,1977},{624,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dinosaur_hand.pkm</string>
            <key>size</key>
            <string>{1934,2258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2af5a1a9318640c1581fb76933e1a65:5e34cf129c0742b43cf8e403942287e3:18fe202875bd00831897737e12a3e094$</string>
            <key>textureFileName</key>
            <string>dinosaur_hand.pkm</string>
        </dict>
    </dict>
</plist>
