<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bubble00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-26}</string>
                <key>spriteSize</key>
                <string>{84,154}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{317,167},{84,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bubble01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{84,156}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{1,167},{84,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bubble02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{84,156}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{159,167},{84,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bubble03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{86,156}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{1019,1},{86,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{86,158}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{473,165},{86,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bubble05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{86,158}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{633,165},{86,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bubble06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{659,1},{88,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{749,1},{88,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{793,163},{88,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bubble09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{839,1},{88,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{90,162}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{475,1},{90,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{90,162}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{567,1},{90,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{92,162}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{381,1},{92,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{193,1},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{287,1},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{97,1},{94,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{287,1},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{193,1},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{92,162}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{381,1},{92,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{90,162}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{567,1},{90,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{90,162}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{475,1},{90,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{839,1},{88,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{929,1},{88,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{749,1},{88,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{659,1},{88,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{86,158}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{633,165},{86,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bubble28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{86,158}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{473,165},{86,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bubble29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{86,156}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{1019,1},{86,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bubble30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{84,156}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{159,167},{84,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bubble31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{84,156}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{1,167},{84,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bubble32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-26}</string>
                <key>spriteSize</key>
                <string>{84,154}</string>
                <key>spriteSourceSize</key>
                <string>{110,210}</string>
                <key>textureRect</key>
                <string>{{955,163},{84,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bubble.pkm</string>
            <key>size</key>
            <string>{1110,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7581bd59d5c7311e51b9f05005c2e53a:de32f7038ba40a7f327722c0cd598a90:fd3100490e543b1dd5e6c68d80fb2ad4$</string>
            <key>textureFileName</key>
            <string>Bubble.pkm</string>
        </dict>
    </dict>
</plist>
