<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear_hand01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1,1334},{543,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_hand02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{258,1334},{543,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_hand03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{515,1334},{543,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_hand04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{628,802},{543,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1173,802},{543,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{628,1059},{543,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1173,1059},{543,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{772,1316},{543,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{772,1573},{543,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1317,1316},{543,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_hand11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{543,255}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1574,1316},{543,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_hand12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{597,263}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1,1069},{597,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,265}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1,1},{625,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,265}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1,268},{625,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,265}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{628,1},{625,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,265}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1255,1},{625,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,265}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1,535},{625,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,265}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{628,268},{625,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,265}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1255,268},{625,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,265}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1,802},{625,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,265}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{628,535},{625,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_hand22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,265}</string>
                <key>spriteSourceSize</key>
                <string>{625,271}</string>
                <key>textureRect</key>
                <string>{{1255,535},{625,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bear_hand.pkm</string>
            <key>size</key>
            <string>{1881,1878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caeb8bcc25e01dfaedbe2b3b85f5d1c5:ef56954837a666959edc5aa6095a7612:e6fbc547fdd05723530759b1002a99cd$</string>
            <key>textureFileName</key>
            <string>bear_hand.pkm</string>
        </dict>
    </dict>
</plist>
