<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>puke_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-268.5,478.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,2695},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{196,-475}</string>
                <key>spriteSize</key>
                <string>{34,10}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{471,2687},{34,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{196,-475}</string>
                <key>spriteSize</key>
                <string>{34,10}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{471,2687},{34,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{196,-475}</string>
                <key>spriteSize</key>
                <string>{34,10}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{471,2687},{34,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{196,-475}</string>
                <key>spriteSize</key>
                <string>{34,10}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{471,2687},{34,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{196,-475}</string>
                <key>spriteSize</key>
                <string>{34,10}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{471,2687},{34,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-471}</string>
                <key>spriteSize</key>
                <string>{428,18}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{397,1897},{428,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-458}</string>
                <key>spriteSize</key>
                <string>{436,44}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{755,1917},{436,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-338}</string>
                <key>spriteSize</key>
                <string>{506,284}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2123,2065},{506,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-270}</string>
                <key>spriteSize</key>
                <string>{506,420}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2665,1},{506,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-235}</string>
                <key>spriteSize</key>
                <string>{474,490}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3173,2079},{474,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-197}</string>
                <key>spriteSize</key>
                <string>{392,566}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2661,965},{392,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-153}</string>
                <key>spriteSize</key>
                <string>{384,636}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2151,1},{384,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-135}</string>
                <key>spriteSize</key>
                <string>{386,690}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1839,745},{386,690}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-105}</string>
                <key>spriteSize</key>
                <string>{364,724}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1757,1667},{364,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-35}</string>
                <key>spriteSize</key>
                <string>{296,722}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1757,2393},{296,722}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,12}</string>
                <key>spriteSize</key>
                <string>{282,754}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{471,1917},{282,754}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,49}</string>
                <key>spriteSize</key>
                <string>{268,754}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1569,911},{268,754}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-21}</string>
                <key>spriteSize</key>
                <string>{368,918}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{427,1},{368,918}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-23}</string>
                <key>spriteSize</key>
                <string>{374,914}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{797,1},{374,914}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{394,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,963},{394,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{424,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{424,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-24}</string>
                <key>spriteSize</key>
                <string>{358,912}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{861,917},{358,912}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-27}</string>
                <key>spriteSize</key>
                <string>{346,906}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1221,911},{346,906}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,14}</string>
                <key>spriteSize</key>
                <string>{462,932}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{397,963},{462,932}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,26}</string>
                <key>spriteSize</key>
                <string>{456,908}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1173,1},{456,908}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,57}</string>
                <key>spriteSize</key>
                <string>{452,846}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1303,1819},{452,846}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,86}</string>
                <key>spriteSize</key>
                <string>{458,788}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{827,1897},{458,788}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,96}</string>
                <key>spriteSize</key>
                <string>{468,768}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,1925},{468,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,109}</string>
                <key>spriteSize</key>
                <string>{518,742}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1631,1},{518,742}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,106}</string>
                <key>spriteSize</key>
                <string>{540,626}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2123,1437},{540,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,158}</string>
                <key>spriteSize</key>
                <string>{540,592}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2631,2065},{540,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,197}</string>
                <key>spriteSize</key>
                <string>{540,566}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3173,1},{540,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,244}</string>
                <key>spriteSize</key>
                <string>{540,472}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3207,1605},{540,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,264}</string>
                <key>spriteSize</key>
                <string>{540,432}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2227,639},{540,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,243}</string>
                <key>spriteSize</key>
                <string>{540,474}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2665,1359},{540,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,230}</string>
                <key>spriteSize</key>
                <string>{540,500}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2665,423},{540,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,221}</string>
                <key>spriteSize</key>
                <string>{540,518}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3229,1085},{540,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,210}</string>
                <key>spriteSize</key>
                <string>{540,540}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3229,543},{540,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-183,29}</string>
                <key>spriteSize</key>
                <string>{174,244}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1839,1437},{174,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-164,-86}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1221,1819},{74,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-192,-106}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1649,1667},{82,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-231,-136}</string>
                <key>spriteSize</key>
                <string>{78,98}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1569,1667},{78,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-253,-165}</string>
                <key>spriteSize</key>
                <string>{34,104}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{755,2355},{34,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-268.5,478.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,2695},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>puke_.pkm</string>
            <key>size</key>
            <string>{3770,2699}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91a2c8f408d9464cf9b8856590445636:203ac2e6c66e0eec090eaf4c5ca8fcca:b750129094e35ad5de6a5713d5950ed2$</string>
            <key>textureFileName</key>
            <string>puke_.pkm</string>
        </dict>
    </dict>
</plist>
