<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>r01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,170}</string>
                <key>spriteSourceSize</key>
                <string>{246,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,170}</string>
                <key>spriteSourceSize</key>
                <string>{246,170}</string>
                <key>textureRect</key>
                <string>{{249,1},{246,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,170}</string>
                <key>spriteSourceSize</key>
                <string>{246,170}</string>
                <key>textureRect</key>
                <string>{{497,1},{246,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,170}</string>
                <key>spriteSourceSize</key>
                <string>{246,170}</string>
                <key>textureRect</key>
                <string>{{745,1},{246,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,170}</string>
                <key>spriteSourceSize</key>
                <string>{246,170}</string>
                <key>textureRect</key>
                <string>{{993,1},{246,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,170}</string>
                <key>spriteSourceSize</key>
                <string>{246,170}</string>
                <key>textureRect</key>
                <string>{{1241,1},{246,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,170}</string>
                <key>spriteSourceSize</key>
                <string>{246,170}</string>
                <key>textureRect</key>
                <string>{{1489,1},{246,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r.pkm</string>
            <key>size</key>
            <string>{1736,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d709334135d713f6ee38ba40bda607a:003ef5c3679fd8c62684420ae2508620:19f5472a41b6aae9894837f6401ec0c7$</string>
            <key>textureFileName</key>
            <string>r.pkm</string>
        </dict>
    </dict>
</plist>
