<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,14}</string>
                <key>spriteSize</key>
                <string>{102,56}</string>
                <key>spriteSourceSize</key>
                <string>{240,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-11}</string>
                <key>spriteSize</key>
                <string>{102,56}</string>
                <key>spriteSourceSize</key>
                <string>{240,90}</string>
                <key>textureRect</key>
                <string>{{105,1},{102,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,9}</string>
                <key>spriteSize</key>
                <string>{102,56}</string>
                <key>spriteSourceSize</key>
                <string>{240,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish1.pkm</string>
            <key>size</key>
            <string>{208,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d100d432eca462d0bc2d6f96fd093d1c:f4c41b888d2d22f8f662364c5e7d9656:08197e2354720457e189db4d75b26f16$</string>
            <key>textureFileName</key>
            <string>fish1.pkm</string>
        </dict>
    </dict>
</plist>
