<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>watermelon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{750,282}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{1,1161},{750,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{750,284}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{1505,1},{750,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watermelon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{750,284}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{1,875},{750,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{750,286}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{1,587},{750,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{750,286}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{753,583},{750,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{750,288}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{753,293},{750,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{750,290}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{1,295},{750,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{750,290}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{753,1},{750,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{750,292}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{750,290}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{753,1},{750,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{750,290}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{1,295},{750,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{750,288}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{753,293},{750,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{750,286}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{753,583},{750,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{750,286}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{1,587},{750,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{750,284}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{753,871},{750,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{750,284}</string>
                <key>spriteSourceSize</key>
                <string>{750,294}</string>
                <key>textureRect</key>
                <string>{{753,1157},{750,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watermelon.pkm</string>
            <key>size</key>
            <string>{1790,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce0252f2a9a52ee319fddde238b649e1:4b32e99db0c6676f3efaa16794d7f7ca:b955149d346cddba565ae8a73ad58e17$</string>
            <key>textureFileName</key>
            <string>watermelon.pkm</string>
        </dict>
    </dict>
</plist>
