<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_other01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{117,120}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{1083,1},{117,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{127,120}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{825,1},{127,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{694,1},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{131,122}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{561,1},{131,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{133,122}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{426,1},{133,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{135,122}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{289,1},{135,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{141,122}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{146,1},{141,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{143,122}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{141,122}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{146,1},{141,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{135,122}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{289,1},{135,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{133,122}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{426,1},{133,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{131,122}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{561,1},{131,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{694,1},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{127,120}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{954,1},{127,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cat_other.pkm</string>
            <key>size</key>
            <string>{1201,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc0ae697151be934eb3f65eb580a7093:9a70c36d132925e7db60b8fba9810643:e67262a26fc94d564218eb0eb84bf2d4$</string>
            <key>textureFileName</key>
            <string>cat_other.pkm</string>
        </dict>
    </dict>
</plist>
