<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,173},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,345},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,517},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,689},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,861},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,1033},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,1205},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,1377},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,1549},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,1721},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,1549},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,170}</string>
                <key>textureRect</key>
                <string>{{1,1377},{220,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>l.pkm</string>
            <key>size</key>
            <string>{222,1892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0edfc877adda749d44e74b2c8b760929:6461127c33cc45079a7f9ed082160a62:4cf130e9780b645982300b098598a1f4$</string>
            <key>textureFileName</key>
            <string>l.pkm</string>
        </dict>
    </dict>
</plist>
