<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>teamilk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-34}</string>
                <key>spriteSize</key>
                <string>{143,206}</string>
                <key>spriteSourceSize</key>
                <string>{215,300}</string>
                <key>textureRect</key>
                <string>{{872,209},{143,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teamilk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-34}</string>
                <key>spriteSize</key>
                <string>{181,206}</string>
                <key>spriteSourceSize</key>
                <string>{215,300}</string>
                <key>textureRect</key>
                <string>{{1,291},{181,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teamilk03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{191,206}</string>
                <key>spriteSourceSize</key>
                <string>{215,300}</string>
                <key>textureRect</key>
                <string>{{829,1},{191,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teamilk04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{199,206}</string>
                <key>spriteSourceSize</key>
                <string>{215,300}</string>
                <key>textureRect</key>
                <string>{{209,279},{199,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teamilk05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-34}</string>
                <key>spriteSize</key>
                <string>{205,206}</string>
                <key>spriteSourceSize</key>
                <string>{215,300}</string>
                <key>textureRect</key>
                <string>{{665,249},{205,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teamilk06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{207,246}</string>
                <key>spriteSourceSize</key>
                <string>{215,300}</string>
                <key>textureRect</key>
                <string>{{417,261},{207,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teamilk07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{205,246}</string>
                <key>spriteSourceSize</key>
                <string>{215,300}</string>
                <key>textureRect</key>
                <string>{{622,1},{205,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teamilk08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{205,258}</string>
                <key>spriteSourceSize</key>
                <string>{215,300}</string>
                <key>textureRect</key>
                <string>{{415,1},{205,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teamilk09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{205,276}</string>
                <key>spriteSourceSize</key>
                <string>{215,300}</string>
                <key>textureRect</key>
                <string>{{208,1},{205,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teamilk10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{205,288}</string>
                <key>spriteSourceSize</key>
                <string>{215,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teamilk.pkm</string>
            <key>size</key>
            <string>{1021,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1b9db0699818c1b80a77e2ec8d7c0aa:149099f9760a2ab198bdb61eac144772:870a8e2b25a86a104c5ae31988cdbcfc$</string>
            <key>textureFileName</key>
            <string>teamilk.pkm</string>
        </dict>
    </dict>
</plist>
