<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_other201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{1080,1},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{147,114}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{931,1},{147,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{149,114}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{780,1},{149,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{151,116}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{627,1},{151,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{153,116}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{472,1},{153,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{155,118}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{155,118}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{158,1},{155,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{155,118}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{315,1},{155,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{155,118}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{158,1},{155,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{155,118}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{153,116}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{472,1},{153,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{151,116}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{627,1},{151,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{149,114}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{780,1},{149,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_other214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{147,114}</string>
                <key>spriteSourceSize</key>
                <string>{157,122}</string>
                <key>textureRect</key>
                <string>{{931,1},{147,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cat_other2.pkm</string>
            <key>size</key>
            <string>{1208,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a37cbfefbeeee081a18a559c24ace193:429a252b91a80e32e9afb06afa2c0b74:672b2be16977f5704607760edd07c97d$</string>
            <key>textureFileName</key>
            <string>cat_other2.pkm</string>
        </dict>
    </dict>
</plist>
