<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiqiuL_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{340,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{845,1597},{340,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{340,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1267,1599},{340,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-21}</string>
                <key>spriteSize</key>
                <string>{338,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1,1573},{338,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-21}</string>
                <key>spriteSize</key>
                <string>{336,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1689,1263},{336,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{334,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{845,1261},{334,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-21}</string>
                <key>spriteSize</key>
                <string>{332,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{423,1257},{332,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-22}</string>
                <key>spriteSize</key>
                <string>{328,418}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1685,933},{328,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-22}</string>
                <key>spriteSize</key>
                <string>{326,418}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{843,929},{326,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-22}</string>
                <key>spriteSize</key>
                <string>{322,418}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{423,925},{322,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-23}</string>
                <key>spriteSize</key>
                <string>{318,416}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1679,613},{318,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-23}</string>
                <key>spriteSize</key>
                <string>{314,416}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{839,609},{314,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-23}</string>
                <key>spriteSize</key>
                <string>{310,416}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1,605},{310,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-24}</string>
                <key>spriteSize</key>
                <string>{308,414}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1673,303},{308,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-24}</string>
                <key>spriteSize</key>
                <string>{304,414}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{837,301},{304,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-24}</string>
                <key>spriteSize</key>
                <string>{302,414}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1,301},{302,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-24}</string>
                <key>spriteSize</key>
                <string>{300,414}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1673,1},{300,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-23}</string>
                <key>spriteSize</key>
                <string>{298,416}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-23}</string>
                <key>spriteSize</key>
                <string>{298,416}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{419,1},{298,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-23}</string>
                <key>spriteSize</key>
                <string>{298,416}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{837,1},{298,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-23}</string>
                <key>spriteSize</key>
                <string>{298,416}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1255,1},{298,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-22}</string>
                <key>spriteSize</key>
                <string>{302,418}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{417,301},{302,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-22}</string>
                <key>spriteSize</key>
                <string>{306,418}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1253,301},{306,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-22}</string>
                <key>spriteSize</key>
                <string>{310,418}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{419,607},{310,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-21}</string>
                <key>spriteSize</key>
                <string>{314,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1257,613},{314,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{320,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1,919},{320,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-21}</string>
                <key>spriteSize</key>
                <string>{326,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1263,933},{326,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-21}</string>
                <key>spriteSize</key>
                <string>{330,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1,1241},{330,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{334,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1267,1263},{334,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-21}</string>
                <key>spriteSize</key>
                <string>{338,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{423,1591},{338,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiqiuL_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{340,420}</string>
                <key>spriteSourceSize</key>
                <string>{344,462}</string>
                <key>textureRect</key>
                <string>{{1689,1601},{340,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qiqiuL_.pkm</string>
            <key>size</key>
            <string>{2110,1942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c587e57eb0e51a71d576c56e7fe2e40:b957385d3bfb8288fc87410e4ce76134:64cd0774e6941a0b650ede5209b5113e$</string>
            <key>textureFileName</key>
            <string>qiqiuL_.pkm</string>
        </dict>
    </dict>
</plist>
