<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear_other01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{121,148}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{115,148}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{1,281},{115,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{109,148}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{1,431},{109,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{101,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{1,581},{101,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{95,148}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{1,729},{95,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{89,150}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{104,594},{89,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_other07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{83,150}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{104,685},{83,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_other08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-10}</string>
                <key>spriteSize</key>
                <string>{97,130}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{98,770},{97,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_other09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-10}</string>
                <key>spriteSize</key>
                <string>{103,130}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{124,229},{103,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_other10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-10}</string>
                <key>spriteSize</key>
                <string>{109,130}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{124,118},{109,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_other11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-9}</string>
                <key>spriteSize</key>
                <string>{115,130}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{124,1},{115,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear_other12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{121,128}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{1,151},{121,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{112,464},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear_other14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{135,128}</string>
                <key>spriteSourceSize</key>
                <string>{141,150}</string>
                <key>textureRect</key>
                <string>{{118,334},{135,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bear_other.pkm</string>
            <key>size</key>
            <string>{255,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa7eb73438b6539fba834ea9d0f226f6:122709748fe4a3fba9c16ab6826f6724:b7b3884a14c83c081092e608c442081a$</string>
            <key>textureFileName</key>
            <string>bear_other.pkm</string>
        </dict>
    </dict>
</plist>
