<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flyright01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138.5,66}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{153,88},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,2}</string>
                <key>spriteSize</key>
                <string>{74,63}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{167,605},{74,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,3}</string>
                <key>spriteSize</key>
                <string>{86,73}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{153,105},{86,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,2}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{167,517},{86,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flyright05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,3}</string>
                <key>spriteSize</key>
                <string>{96,81}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{1,574},{96,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flyright06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,3}</string>
                <key>spriteSize</key>
                <string>{110,81}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{1,491},{110,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,2}</string>
                <key>spriteSize</key>
                <string>{108,79}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{125,346},{108,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,2}</string>
                <key>spriteSize</key>
                <string>{116,79}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{1,410},{116,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{110,77}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{137,267},{110,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{122,77}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{1,331},{122,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{134,77}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{1,252},{134,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,4}</string>
                <key>spriteSize</key>
                <string>{144,81}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{1,169},{144,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,3}</string>
                <key>spriteSize</key>
                <string>{150,79}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{1,88},{150,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,5}</string>
                <key>spriteSize</key>
                <string>{184,85}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{96,81}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{84,574},{96,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flyright16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,3}</string>
                <key>spriteSize</key>
                <string>{100,85}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{147,180},{100,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-9}</string>
                <key>spriteSize</key>
                <string>{102,61}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{187,1},{102,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flyright18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-11}</string>
                <key>spriteSize</key>
                <string>{100,59}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{119,427},{100,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-24}</string>
                <key>spriteSize</key>
                <string>{92,27}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{119,488},{92,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-24}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{113,517},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyright21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138.5,66}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{280,135}</string>
                <key>textureRect</key>
                <string>{{153,88},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flyright.pkm</string>
            <key>size</key>
            <string>{249,671}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0342329d82cf77cf75a516ce5655296:73f50b8a1246f6e256d97f89d886c6e0:ded458c30cf85ade678363457a2d3f4c$</string>
            <key>textureFileName</key>
            <string>flyright.pkm</string>
        </dict>
    </dict>
</plist>
