<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mofazhen_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,963},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{543,1},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{963,543},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,1505},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{963,1505},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1505,1},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1505,543},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1925,1085},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2467,1},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2467,963},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2467,1925},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,2047},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{963,2047},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,2589},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1505,2047},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2047,2887},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{543,3009},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1505,3009},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,3551},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{2047,3429},{540,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mofazhen_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3009,1},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3009,963},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3009,1925},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3009,2887},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3551,1},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3551,963},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3551,1925},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{3551,2887},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mofazhen_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mofazhen_.pkm</string>
            <key>size</key>
            <string>{4092,4092}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7def9d27c76be1e8b25110e9b5b21ece:c39a6eeaf3e5687a08c8f7ef4a23478e:296bdfc53f631b11937d9a0a345abd85$</string>
            <key>textureFileName</key>
            <string>mofazhen_.pkm</string>
        </dict>
    </dict>
</plist>
