<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dinosaur_other01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-30}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{107,1},{102,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-30}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{211,1},{102,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-30}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{315,1},{100,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-30}</string>
                <key>spriteSize</key>
                <string>{98,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{417,1},{98,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-31}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{623,1},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-31}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{517,1},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-25}</string>
                <key>spriteSize</key>
                <string>{104,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-19}</string>
                <key>spriteSize</key>
                <string>{104,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{871,1},{104,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-13}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{725,1},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dinosaur_other10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-31}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{517,1},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-31}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{623,1},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-30}</string>
                <key>spriteSize</key>
                <string>{98,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{417,1},{98,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-30}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{315,1},{100,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosaur_other14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-30}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,170}</string>
                <key>textureRect</key>
                <string>{{211,1},{102,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dinosaur_other.pkm</string>
            <key>size</key>
            <string>{1004,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa9a62f855ce2274b0fdf2adc96fa77f:1fcb9c5c6d6b69c801808f9742afa7bf:df466657e311dedbd3222fe6f2b15dc1$</string>
            <key>textureFileName</key>
            <string>dinosaur_other.pkm</string>
        </dict>
    </dict>
</plist>
