<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-33}</string>
                <key>spriteSize</key>
                <string>{137,204}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{1140,1},{137,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-25}</string>
                <key>spriteSize</key>
                <string>{149,220}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{840,1},{149,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-18}</string>
                <key>spriteSize</key>
                <string>{161,234}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{518,1},{161,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{171,248}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{178,1},{171,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{183,262}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{1545,1},{183,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{183,264}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{1279,1},{183,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{175,252}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{165,240}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{351,1},{165,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-21}</string>
                <key>spriteSize</key>
                <string>{157,228}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{681,1},{157,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-27}</string>
                <key>spriteSize</key>
                <string>{147,216}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{991,1},{147,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star_2.pkm</string>
            <key>size</key>
            <string>{1808,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e07351400be6b901ab0c7f7a2f62314d:5b276cc7ca366f04df95d9c9b9a2dfb8:4397bf8e8d4d98edcc6435af9706ad6b$</string>
            <key>textureFileName</key>
            <string>star_2.pkm</string>
        </dict>
    </dict>
</plist>
