<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanbul_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1,1},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{296,1},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{591,1},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{886,1},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1181,1},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1476,1},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1771,1},{247,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanbul_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1,250},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{296,250},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{591,250},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{886,250},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1181,250},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1476,250},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1771,296},{247,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanbul_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1,499},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{296,499},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{591,499},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{886,499},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1181,499},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1476,499},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1771,591},{247,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanbul_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1,748},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{296,748},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{591,748},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{886,748},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1181,748},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1476,748},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1771,886},{247,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanbul_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1,997},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{296,997},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{591,997},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{886,997},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1181,997},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1476,997},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1771,1181},{247,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanbul_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1,1246},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{296,1246},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{591,1246},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{886,1246},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1181,1246},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanbul_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,293}</string>
                <key>spriteSourceSize</key>
                <string>{247,293}</string>
                <key>textureRect</key>
                <string>{{1476,1246},{247,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yanbul_.pkm</string>
            <key>size</key>
            <string>{2019,1494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:985848c904ec1ddc5b269d32a6e018fb:78f8b6f775ff2e0f8fde487f0dda2a91:d97290a39bc05f63fda773514533236f$</string>
            <key>textureFileName</key>
            <string>yanbul_.pkm</string>
        </dict>
    </dict>
</plist>
