<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,149},{212,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,297},{212,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,445},{212,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,593},{212,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>expression_1.pkm</string>
            <key>size</key>
            <string>{214,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b54850b16825e3b3d21db8c563eff4e:64ded4000cb5eb9495cc21b99097ad9b:670b8a8e2989c1e9c1c084868e462a32$</string>
            <key>textureFileName</key>
            <string>expression_1.pkm</string>
        </dict>
    </dict>
</plist>
