<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popcorn01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-15}</string>
                <key>spriteSize</key>
                <string>{167,186}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{1,204},{167,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcorn02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{175,204}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{191,197},{175,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcorn03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{181,198}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{794,192},{181,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcorn04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{189,192}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{801,1},{189,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcorn05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{195,186}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{597,182},{195,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcorn06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{207,180}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{386,1},{207,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcorn07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{201,188}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcorn08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{193,194}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{191,1},{193,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcorn09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{187,198}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{397,183},{187,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcorn10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{179,204}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{595,1},{179,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popcorn.pkm</string>
            <key>size</key>
            <string>{994,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf04f548d6544626816a2e5dd96bb367:9f33eb6daa7e0f5af078085fb18c00fe:cb98e753de2584f9a38224e1b4705a79$</string>
            <key>textureFileName</key>
            <string>popcorn.pkm</string>
        </dict>
    </dict>
</plist>
