<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eyeright01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43.5,26}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{235,28},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeright02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43.5,26}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{235,28},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeright03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eyeright04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{28,1},{30,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eyeright05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{55,1},{30,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eyeright06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{109,1},{40,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeright07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{151,1},{40,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeright08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{193,1},{40,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeright09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{235,1},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeright10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{269,1},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeright11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{82,1},{30,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eyeright12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,3}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{303,1},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eyeright13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43.5,26}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{235,28},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eyeright.pkm</string>
            <key>size</key>
            <string>{320,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:383d08ab56e2f36d3b90df22b2dff2a6:d7c2c3b8f9e79d923868b8211cbde184:02836688866ccfde27a990e0fe7464e8$</string>
            <key>textureFileName</key>
            <string>eyeright.pkm</string>
        </dict>
    </dict>
</plist>
