<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{163,275}</string>
                <key>spriteSourceSize</key>
                <string>{179,307}</string>
                <key>textureRect</key>
                <string>{{1,1},{163,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{159,279}</string>
                <key>spriteSourceSize</key>
                <string>{179,307}</string>
                <key>textureRect</key>
                <string>{{1,278},{159,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{155,283}</string>
                <key>spriteSourceSize</key>
                <string>{179,307}</string>
                <key>textureRect</key>
                <string>{{449,1},{155,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10}</string>
                <key>spriteSize</key>
                <string>{153,287}</string>
                <key>spriteSourceSize</key>
                <string>{179,307}</string>
                <key>textureRect</key>
                <string>{{282,160},{153,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{149,291}</string>
                <key>spriteSourceSize</key>
                <string>{179,307}</string>
                <key>textureRect</key>
                <string>{{592,158},{149,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{145,295}</string>
                <key>spriteSourceSize</key>
                <string>{179,307}</string>
                <key>textureRect</key>
                <string>{{743,150},{145,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{141,297}</string>
                <key>spriteSourceSize</key>
                <string>{179,307}</string>
                <key>textureRect</key>
                <string>{{890,150},{141,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{147,293}</string>
                <key>spriteSourceSize</key>
                <string>{179,307}</string>
                <key>textureRect</key>
                <string>{{734,1},{147,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10}</string>
                <key>spriteSize</key>
                <string>{153,287}</string>
                <key>spriteSourceSize</key>
                <string>{179,307}</string>
                <key>textureRect</key>
                <string>{{437,160},{153,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{157,281}</string>
                <key>spriteSourceSize</key>
                <string>{179,307}</string>
                <key>textureRect</key>
                <string>{{166,1},{157,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star_1.pkm</string>
            <key>size</key>
            <string>{1032,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73052951bb262076c440b807b58ef3a4:0303499490d329ddc5992a56af5f6530:d9a8e6c3ddac7ebe97ed05f03912ed58$</string>
            <key>textureFileName</key>
            <string>star_1.pkm</string>
        </dict>
    </dict>
</plist>
