<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hh_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,4},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,7},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,10},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,13},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,16},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,19},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,22},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,25},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,28},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,31},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,34},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,37},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,40},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,43},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,46},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,49},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,52},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,55},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,58},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,61},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,64},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1}</string>
                <key>spriteSourceSize</key>
                <string>{720,1}</string>
                <key>textureRect</key>
                <string>{{1,67},{720,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hh_.pkm</string>
            <key>size</key>
            <string>{722,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1550063b38bdf047bced5e0abae50d7a:c7cf78a82f996cc4dfc5a46903afa4c2:43e19963b41bfc92fe2ffc20dffe31c5$</string>
            <key>textureFileName</key>
            <string>hh_.pkm</string>
        </dict>
    </dict>
</plist>
