<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hdj_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{2969,743},{738,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hdj_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{743,1},{740,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,502}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1,1009},{738,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{743,503},{740,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1483,1507},{738,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{2223,1507},{738,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1005,2009},{738,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1745,2009},{738,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1485,1},{740,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1005,2511},{738,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1745,2511},{738,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,502}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1,1513},{738,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,502}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{740,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1485,503},{740,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{2227,1},{740,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1,2017},{740,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hdj_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{2485,2009},{738,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hdj_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{2227,503},{740,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,502}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1,505},{740,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{2969,1},{740,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hdj_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{503,2017},{740,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hdj_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{743,1005},{740,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{1485,1005},{740,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{2987,1483},{738,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hdj_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{2227,1005},{740,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdj_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-44}</string>
                <key>spriteSize</key>
                <string>{738,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{2987,2223},{738,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hdj_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{740,500}</string>
                <key>spriteSourceSize</key>
                <string>{866,700}</string>
                <key>textureRect</key>
                <string>{{741,1507},{740,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hdj_.pkm</string>
            <key>size</key>
            <string>{3488,3012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ea0d5460fad77f1280d4d85f8e252f0:79f0d5a80ec956418c90db3b58e6baff:d2ff388237c9ee4aa0314806c0205a93$</string>
            <key>textureFileName</key>
            <string>hdj_.pkm</string>
        </dict>
    </dict>
</plist>
