<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qianjing_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{621,1},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1241,1},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1,329},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1,949},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1,1569},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{329,329},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{329,949},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{621,1569},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1241,329},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{657,329},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{657,949},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{985,657},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1241,1277},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1313,657},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1569,1277},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1313,657},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1241,1277},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{985,657},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{657,949},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{657,329},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1241,329},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{621,1569},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{329,949},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{329,329},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1,1569},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1,949},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1,329},{618,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianjing_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{1241,1},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{618,326}</string>
                <key>spriteSourceSize</key>
                <string>{720,336}</string>
                <key>textureRect</key>
                <string>{{621,1},{618,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qianjing_.pkm</string>
            <key>size</key>
            <string>{1896,1896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5290a8b0303de517720be6602844727:373e61037891dd3ac41f07a30a719d2f:4fda15e4dc5f5702c242c9f1624c5880$</string>
            <key>textureFileName</key>
            <string>qianjing_.pkm</string>
        </dict>
    </dict>
</plist>
